*.o
*~
*.swp
*.wav
*.layout
configure
Makefile.in
Makefile
obj
bin
libsndfile
sndfile-tools
openal-soft
project
sdlgfx
autom4te.cache
aclocal.m4
config.log
config.status
depcomp
install-sh
src/.deps
src/test1
src/project_voix


