*.o
*~
*.swp
*.wav
*.bmp
*.layout
configure
Makefile.in
Makefile
src/Makefile
src/Makefile.in
src/*/Makefile
src/*/Makefile.in
*/.deps
*/*/.deps
obj
bin
libsndfile
sndfile-tools
openal-soft
project
sdlgfx
autom4te.cache
aclocal.m4
config.log
config.status
depcomp
install-sh
src/.deps
src/test1
src/project_voix


